@font-face {
    font-family: "Photography_bold";
    src: url(Bold.ttf);
}

@font-face {
    font-family: "Photography_regular";
    src: url(Regular.ttf);
}

@font-face {
    font-family: "Photography_light";
    src: url(Light.ttf);
}

h1 {
    font-family: Photography_bold;
    font-size: 40px;
    text-align: center;
}

a:link, a:visited {
    background-color: transparent;
    border: 2px solid grey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
}

a:hover, a:active {
    background-color: grey;
    color: white;
}

body {
    background-image: url(indexBackground2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.indexPage {
    text-align: center;
}

.input {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    border-color: black;
    color: black;
}