/* add a new font into font family */
@font-face {
    font-family: "RachelBrown_font";
    src: url(RachelBrown.ttf);
}
body {
    background-image: url(https://images.unsplash.com/photo-1565430973830-b12076b15215?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 20px 0px 0px 5px;
  }

table {
  font-family: RachelBrown_font;
  text-align: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  width: 70%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}


table, td, th {
  border: 1px solid;
}
  

/* Title font style */
h1 {
  font-family: RachelBrown_font;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}

#message {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
}

a {
  font-family: RachelBrown_font;
  color: black;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  margin: 5px;
}

#logout {
  margin: 0px 8px 0px 0px;
  /* text-align: right; */
}